# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/
target/

# SBT
.bsp/
.sbt/
.scala_dependencies/
project/target/

# Scala
*.class
*.jar
*.war
*.zip
*.log

# Operating System specific files
.DS_Store
Thumbs.db

# Other common exclusions
*.swp
*~